
<article class="blog-post">

        
        <h1>Anatel: Medidas Contra Aparelhos Não Homologados</h1>
        
        <p>Desde que os aparelhos “xing ling” invadiram o mercado, a Anatel vem procurando as medidas cabíveis para impossibilitar a comercialização desse tipo de aparelho no país. Além de ser categorizado como crime de pirataria, esses aparelhos não são homologados pela Anatel e, assim, não podem ser comercializados e utilizados para comunicação no Brasil.</p>

        <p>Para fechar o cerco em torno e bloquear todos os aparelhos ilegais, a Anatel elaborou o programa denominado de Siga, em parceria com todas as operadoras de telefonia móvel a fim de possibilitar a identificação e o bloqueio de todas as linhas utilizadas em aparelhos de comercialização ilegal em território nacional.</p>

        <p>Segundo a empresa que regula o sistema de telecomunicações no Brasil, as medidas foram adotadas com o objetivo de melhorar a qualidade da rede, evitar problemas de saúde, comprovadamente ocasionados pelo uso de gadgets de procedência não confiável, além de impossibilitar e evitar o reaproveitamento de aparelhos oriundos de roubo.</p>

        <p>O programa de reconhecimento de aparelhos homologados ou não age através da autenticação necessária em qualquer ligação ou acesso a rede. Sendo assim, ao solicitar a autenticação, o sistema das empresas de telefonia reconhece o IMEI do aparelho, criando um banco de dados coletivos que será utilizado posteriormente como critério base de verificação de homologação, onde os que não estiverem na lista podem ser bloqueados.</p>

        <p>Contudo, o programa abrange não apenas os aparelhos celulares, mas todo tipo de aparelho eletrônico que utiliza chips para acessar a rede, como os tablets e alguns modelos de máquinas de cartão. Portanto, esses aparelhos não aprovados também correm o risco de bloqueio. Além disso, o procedimento de verificação não reconhece aparelhos comprados fora do país e, dessa forma, eles também podem ser alvo de bloqueio, mas a Anatel contrapõe dizendo que medidas diferenciadas serão adotadas nos casos de produtos importados.</p>

</article>