<!-- Rodapé exibido em todas as páginas -->
<footer class="footer bg-black p-2 bg-opacity-80 ">

  <div class="container">

    <div class="row">

      <div class="col-sm-8"><a class="navbar-brand" href="#"><img src="/img/header/log.png" height="60" width="300"></a></div>
      <div class="col-sm-4">
        
        <form class="row">
          <div class="col">            
            <input type="email" class="form-control" id="txtEmailInscr" placeholder="Insira seu e-mail">
          </div>
          <div class="col">
            <button class="btn btn-primary mb-3">Se-Inscrever</button>            
          </div>
          <a href="/politica_privacidade">Para se inscrever você concoarda com a nossa Política de Privacidade.</a>
        </form>
      
      </div>

    </div>

    <hr>

    <div class="row">
      <div class="col-sm"><b>Recentes</b></div>
      <div class="col-sm"><b>Menu</b></div>
      <div class="col-sm"><b>Atualizações</b></div>
      <div class="col-sm"><b>Mobile</b></div>
    </div>

    <div class="row">      
      <div class="col-sm"> <%- include('../recents.ejs') %></div>
      <div class="col-sm">
        <p>Contate-nos</p>
        <p>Novidades</p>
        <p>Política de Privacidade</p>
        <p>Suporte</p>
      </div>
      <div class="col-sm">
        <p><a href="http://localhost:3000/#:~:text=1K,Seguidores"> <i class="fa-brands fa-facebook"></i> Facebook </a></p>
        <p><i class="fa-brands fa-instagram"></i> Instagram</p>
        <p><i class="fa-brands fa-x-twitter"></i> (twitter)</p>
        <p><i class="fa-brands fa-youtube"></i> Youtube</p>
      </div>
      <div class="col-sm">
        <p>Baixe nosso aplicativo e receba os últimos alertas de notícias de última hora, as últimas manchetes e artigos diários perto de você.</p>
        
        <a class="navbar-brand" href="#"><img src="/img/footer/app-store.svg" height="60" width="120"></a>

        <a class="navbar-brand" href="#"><img src="/img/footer/google-play.svg" height="60" width="120"></a>


      </div>
    </div>

    
    <div class="row">
      <div class="col-sm"><b>Mais acessados</b></div>
    </div>
    <div class="row">
      <div class="col-sm text-white-50" ><a href="/post_4">ChatGPT</a>  <a href="/post_7">SmartWatch</a> <a href="post_6">Programas</a></div>      
    </div>

   <br> 
  <div class="row text-white-50">
    <div class="col-sm">
      © 2024. Todos os direitos reservados <a class="text-white-50" href="https://www.rcndev.comofazerinformatica.com.br"  target="_blank">www.rcndev.comofazerinformatica.com.br</a>
    </div>
    <div class="col-sm"></div>
    <!--<div class="col-sm"><a href="/politica_privacidade">Termos de uso </a></div>-->
    <div class="col-sm"></div>
    <div class="col-sm"><a href="/politica_privacidade">Política de Privacidade</a></div>
    <div class="col-sm"><a href="/politica_privacidade">Cookies</a></div>
  </div>

  </div>

<!--
  <p class="text-center">© 2024. Todos os direitos reservados</p>
  <h6 class="text-center">
    <a href="https://www.rcndev.comofazerinformatica.com.br"  target="_blank">www.rcndev.comofazerinformatica.com.br</a>
  </h6>
  -->

</footer>

<nav class="navbar fixed-bottom bg-primary-subtle" data-target="target-element" id="navPolitica" hidden="true">
  
  <div class="container-fluid">
    <h6 class="center-align">
      <button type="button" class="btn btn-primary" onclick="setPrivacyPolicyCookie()"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
      Continuar
    </button>
      Utilizamos cookies somente para aprimorar sua experiência de navegação em nosso site
      . Ao continuar navegando, você concorda com a utilização destes cookies. 
      <p>Conheça a nossa Política de Privacidade e Proteção a Dados Pessoais 
        <a target="_blank" href="./politica_privacidade" class="blue-text"> (CLIQUE AQUI).</a>
      </h6>
  </div>

</nav>


