<!DOCTYPE html>
<html lang="pt">

    <div class="container">

        <div class="row">
      
          <div class="col-6 bg-warning" style="height: 400px;">d</div>    
          <div class="col-6 bg-primary-subtle" style="height: 200px;">s</div>  
          <div class="row justify-content-end" style="margin-top: -15%;">
            <div class="col-3 bg-primary">d</div>
            <div class="col-3 bg-dark">d</div>
          </div>
          
        </div>  
      
    </div>

</html>
