

      <!-- POST 10 -->
<!-- Resumos posts listas uma linha-->
<div class="row mb-2">                
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">T.I.</strong>
        <h3 class="mb-0">Desvendando a Tecnologia em Produção Multimídia</h3>
        <div class="mb-1 text-body-secondary">Por Como Fazer Informatica | 14 de abril de 2024</div>
        <p class="card-text mb-auto">            
          Bem-vindo ao fascinante mundo da produção multimídia, onde a tecnologia se une à criatividade para dar vida a experiências envolventes e impactantes. Nesta série de artigos, vamos explorar os principais conceitos e ferramentas por trás da produção multimídia e como elas estão moldando o cenário digital de hoje.
          <a href="/post_10" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue lendo...
          </a>
        </p>

      </div>
      <div class="col-auto d-none d-lg-block">
          <!--
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="/img/posts/posts_capa.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        -->
        <a class="navbar-brand" href="/post_10"><img src="/img/posts/posts_10/posts_capa.png" width="300" height="300"></a>
      </div>
    </div>
  </div>        
  </div>

<!-- POST 1 -->
<!-- Resumos posts listas uma linha-->
<div class="row mb-2">                
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">T.I.</strong>
        <h3 class="mb-0">Como pesquisar na internet com o ChatGPT</h3>
        <div class="mb-1 text-body-secondary">Por Como Fazer Informatica | 2 de abril de 2023</div>
        <p class="card-text mb-auto">
          O ChatGPT é uma ferramenta de inteligência artificial que pode ser útil em diversas situações do dia a dia. Com o ChatGPT, você pode fazer perguntas, receber recomendações e até mesmo ter conversas casuais em uma variedade de tópicos. Clique aqui para conhecer mais esse recurso. Para utilizar o ChatGPT no aplicativo disponível em https://chat.openai.com/chat,…
          <a href="/post_4" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue lendo...
          </a>
        </p>
        
      </div>
      <div class="col-auto d-none d-lg-block">
        <a class="navbar-brand" href="/post_4"><img src="/img/posts/posts_4/posts_capa.png" width="300" height="300"></a>
        
      </div>
    </div>
  </div>  
</div>


<!-- POST 2 -->
<!-- Resumos posts listas uma linha-->
<div class="row mb-2">                
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Notícias T.I.</strong>
        <h3 class="mb-0">Notícias de tecnologia e novidades na internet</h3>
        <div class="mb-1 text-body-secondary">Por Como Fazer Informática | 6 de maio de 2014</div>
        <p class="card-text mb-auto">
          Esteja por dentro das notícias de tecnologia, notícias cientificas, e confira nesse artigo os top sites que abordam os assuntos mais interessantes do mundo digital.
          <a href="/post_1" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue lendo...
          </a>
      </p>

      </div>
      <div class="col-auto d-none d-lg-block">
        <a class="navbar-brand" href="/post_1"><img src="/img/posts/posts_1/posts_capa.png" width="300" height="300"></a>
      </div>
    </div>
  </div>  
</div>

<!-- POST 3 -->
  <!-- Resumos posts listas uma linha-->
  <div class="row mb-2">                
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Dispositivos</strong>
        <h3 class="mb-0">Dicas sobre Smartwatches</h3>
        <div class="mb-1 text-body-secondary">Por Como Fazer Informática | 6 de maio de 2014</div>
        <p class="card-text mb-auto">            
          As Melhores Páginas na Internet para Informações sobre Smartwatches (Atualizado em Julho de 2023) https://www.instagram.com/fr.watches/ Os smartwatches, também conhecidos como relógios inteligentes, tornaram-se dispositivos populares nos últimos anos. Eles oferecem uma ampla gama de recursos, desde monitoramento de saúde e fitness até notificações inteligentes e integração com smartphones. Se você está interessado em aprender mais…
          <a href="/post_7" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue lendo...
          </a>
        </p>

      </div>
      <div class="col-auto d-none d-lg-block">
          <!--
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="/img/posts/posts_capa.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        -->
        <a class="navbar-brand" href="/post_7"><img src="/img/posts/posts_7/posts_capa.png" width="300" height="300"></a>
      </div>
    </div>
  </div>
  
</div>

  <!-- POST 4 -->
  <!-- Resumos posts listas uma linha-->
  <div class="row mb-2">                
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Entretenimento</strong>
        <h3 class="mb-0">Filmes em cartaz</h3>
        <div class="mb-1 text-body-secondary">Por Como Fazer Informatica | 9 de abril de 2023</div>
        <p class="card-text mb-auto">            
          Com o surgimento da internet, os usuários ganharam uma nova forma de buscar informações sobre filmes em cartaz. Além das clássicas críticas de jornais e revistas especializadas, agora é possível encontrar uma infinidade de sites com informações sobre filmes em cartaz, trailers, sinopses, horários de sessões, entre outras informações. Neste artigo, destacaremos os sites mais…
          <a href="/post_3" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue lendo...
          </a>
        </p>

      </div>
      <div class="col-auto d-none d-lg-block">
          <!--
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="/img/posts/posts_capa.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        -->
        <a class="navbar-brand" href="/post_3"><img src="/img/posts/posts_3/posts_capa.png" width="300" height="300"></a>
      </div>
    </div>
  </div>
  
</div>

        <!-- POST 5 -->
<!-- Resumos posts listas uma linha-->
<div class="row mb-2">                
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Apple</strong>
        <h3 class="mb-0">5 informações importantes sobre iPhone</h3>
        <div class="mb-1 text-body-secondary">Por Como Fazer Informatica | 5 de janeiro de 2016</div>
        <p class="card-text mb-auto">            
          As informações a seguir podem salvar seu iPhone e até evitar gastos durante a vida útil do seu smartphone, antes de qualquer desastre que possa acontecer com seu iPhone, saiba as mais importantes dicas e cuidados que podem lhe ser muito útil hoje e futuramente.     Mantenha a versão mais atualizada do seu iOS. Apple disponibiliza versão mais recente do…
          <a href="/post_5" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue lendo...
          </a>
        </p>

      </div>
      <div class="col-auto d-none d-lg-block">
          <!--
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="/img/posts/posts_capa.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        -->
        <a class="navbar-brand" href="/post_5"><img src="/img/posts/posts_5/posts_capa.png" width="300" height="300"></a>
      </div>
    </div>
  </div>        
  </div>

<!-- POST 8 -->
<!-- Resumos posts listas uma linha-->
<div class="row mb-2">                
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Drivers</strong>
        <h3 class="mb-0">Drivers para seu computador, baixe qualquer driver que precisar aqui</h3>
        <div class="mb-1 text-body-secondary">Por Como Fazer Informatica | 7 de julho de 2014</div>
        <p class="card-text mb-auto">
          Apresento a todos que acompanham esse site mais uma dica para o dia dia de quem faz frequentemente instalações de computadores.. Essa dica tem como objetivo indicar o caminho certo de como baixar drivers para qualquer computador com sistema operacional Windows. Sabe aquele driver que não encontramos em lugar algum, então chegou a hora de poder…
          <a href="/post_8" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue lendo...
          </a>
      </p>

      </div>
      <div class="col-auto d-none d-lg-block">
        <a class="navbar-brand" href="/post_8"><img src="/img/posts/posts_8/posts_capa.png" width="300" height="300"></a>
      </div>
    </div>
  </div>  
</div>  

       <!-- POST 6 -->
<!-- Resumos posts listas uma linha-->
<div class="row mb-2">                
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">T.I.</strong>
        <h3 class="mb-0">5 softwares importantes para ter instalado em seu PC</h3>
        <div class="mb-1 text-body-secondary">Por Como Fazer Informatica | 5 de janeiro de 2016</div>
        <p class="card-text mb-auto">            
          Depois de formatar seu computador, seja por necessidade ou por apenas limpeza e deixa-lo mais rápido, é sempre bom ter em mente o que sua maquina necessita para sua maior experiência no dia a dia.
          <a href="/post_6" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue lendo...
          </a>
        </p>

      </div>
      <div class="col-auto d-none d-lg-block">
          <!--
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="/img/posts/posts_capa.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        -->
        <a class="navbar-brand" href="/post_6"><img src="/img/posts/posts_6/posts_capa.png" width="300" height="300"></a>
      </div>
    </div>
  </div>        
  </div>

<!-- POST 9 -->
<!-- Resumos posts listas uma linha-->
<div class="row mb-2">                
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Notícias T.I.</strong>
        <h3 class="mb-0">Celular pirata, ANATEL vai desativar as linhas que utilizam</h3>
        <div class="mb-1 text-body-secondary">Por Como Fazer Informatica | 7 de julho de 2014</div>
        <p class="card-text mb-auto">
          Desde que os aparelhos “xing ling” invadiram o mercado a Anatel vem procurando as medidas cabíveis para impossibilitar a comercialização desse tipo de aparelho no país. Além de ser categorizado como crime de pirataria, esses aparelhos não são homologados pela Anatel e, assim não podem ser comercializados e utilizados para comunicação no Brasil. Para…
          <a href="/post_9" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue lendo...
          </a>
      </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <a class="navbar-brand" href="/post_9"><img src="/img/posts/posts_9/posts_capa.png" width="300" height="300"></a>
      </div>
    </div>
  </div>  
</div>  

<!-- POST 10 -->
<!-- Resumos posts listas uma linha-->
<div class="row mb-2">                
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Notícias T.I.</strong>
        <h3 class="mb-0">Empregos RJ na área de T.I. – Trabalhar com tecnologia no Rio de Janeiro</h3>
        <div class="mb-1 text-body-secondary">Por Como Fazer Informática | 13 de maio de 2014</div>
        <p class="card-text mb-auto">
          Saiba o caminho mais curto para encontrar vagas de emprego na área da Tecnologia da Informação (T.I.), veja nesse artigo sobre o estado do Rio de Janeiro que está carente desses profissionais.
          <a href="/post_2" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue lendo...
          </a>
      </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <a class="navbar-brand" href="/post_2"><img src="/img/posts/posts_2/posts_capa.png" width="300" height="300"></a>
      </div>
    </div>
  </div>  
</div>  


      <!-- Resumos posts duas colunas  -->
      <!--
      <div class="row mb-2">                
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-body-secondary">Nov 12</div>
                <p class="card-text mb-auto">
                  This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                  Continue reading
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
                <h3 class="mb-0">Post title</h3>
                <div class="mb-1 text-body-secondary">Nov 11</div>
                <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                  Continue reading
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
            </div>
          </div>
        </div>
        -->
  