
<article class="blog-post">

<div class="container" style="display: flex; align-items: center; justify-content: center;padding: 20px;">
  <div class="image" style=".image {flex: 1;padding: 20px;}">
    <img src="/img/posts/posts_5/posts_capa.png" alt="Imagem" style="  img {max-width: 100%; height: auto; display: block;}">
  </div>
  <div class="text" style=" flex: 1; padding: 20px;">
    <h2>Dicas para Cuidados com o iPhone</h2>
    As informações a seguir podem salvar seu iPhone e até evitar gastos durante a vida útil do seu smartphone. Antes de qualquer desastre que possa acontecer com seu iPhone, saiba as mais importantes dicas e cuidados que podem lhe ser muito úteis hoje e futuramente.
  </div>
</div>
          <h2>Mantenha a versão mais atualizada do seu iOS</h2>
          <p>A Apple disponibiliza a versão mais recente do seu sistema operacional iOS 9.2 diretamente no seu aparelho ou via iTunes. O sistema novo necessita de 272MB de espaço para instalação, trazendo diversas melhorias e correções de segurança, como:</p>
          <ul>
            <li>Aplicativo Mail para envio de anexos maiores</li>
            <li>Suporte do 3D Touch para app iBooks</li>
            <li>Melhor estabilidade no Safari</li>
            <li>Diversas soluções de melhoria no teclado</li>
          </ul>
        
          <h2>Como encontrar instantaneamente seu iPhone após um roubo ou perda</h2>
          <p>Ative a função “Buscar Meu iPhone”. Se ocorrer de você perder o aparelho e não conseguir encontrá-lo, se a função estiver habilitada, rapidamente você poderá encontrá-lo novamente. Para ativá-la, acesse Ajustes > iCloud e toque a opção “Buscar iPhone”.</p>
        
          <h2>Reduzir o consumo de bateria e aumentar a vida útil do smartphone da Apple</h2>
          <p>Algumas dicas para reduzir o consumo de bateria incluem:</p>
          <ul>
            <li>Investir em uma case de bateria</li>
            <li>Ajustar configurações como desativar WIFI quando não disponível, desativar notificações, desabilitar serviço de localização/GPS</li>
            <li>Utilizar brilho automático na iluminação da tela</li>
            <li>Mantendo a temperatura do smartphone entre 0 e 35 graus Celsius</li>
            <li>Deixar o aparelho no modo avião para economizar energia quando não for possível a rede</li>
          </ul>
        
          <h2>O que fazer quando o iPhone é acidentalmente molhado</h2>
          <p>Se o seu iPhone for molhado, nunca o ligue. Deixe-o desligado e coloque-o em uma vasilha de arroz por 24 horas ou mais para absorver a umidade. Depois da secagem, tente ligá-lo. Se não funcionar, encaminhe-o para uma assistência técnica.</p>
        
          <h2>App Presence, útil para vigilância e usar como câmera de monitoramento a distância</h2>
          <p>O aplicativo Presence oferece a possibilidade de monitoramento via câmera através do seu iPhone. Utilize um aparelho antigo que suporte a versão do app e configure-o para receber alertas de movimento em tempo real.</p>
          <p><a href="https://itunes.apple.com/us/app/presence-video-security-camera/id618598211?mt=8">Clique aqui</a> e conheça mais sobre esse app no iTunes.</p>
        
          <h2>Dicas importantes para a experiência do usuário</h2>
          <p>Para melhor experiência e economia, crie hábitos corretos no uso do seu iPhone. Tome precauções para manter a qualidade do produto e garantir sua vida útil.</p>

          <p>Compartilhe essas dicas com outras pessoas que utilizam iPhone e comente se as informações foram úteis para você.</p>
  
</article>